body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#video-bg {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
}

.content {
    position: relative;
    z-index: 1;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7); /* Fondo translúcido para que el texto sea legible */
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.card {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #5783d6;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.card-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.card-body {
    display: flex;
    flex-wrap: wrap;
}

.province {
    flex: 0 0 calc(50% - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f7fafc; /* Cambiado a un tono más claro */
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.province:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Aumentado el desenfoque de la sombra en el hover */
}

.province-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #000000;
}

.weather-info {
    color: #000000; /* Ajustado el color del texto para que contraste mejor */
}

hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #ddd;
}
h1{
color: #000000;



}