/* Estilos para el cuerpo */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(31, 48, 48);
    background-size: 100% 100%; /* Ajusta la imagen de fondo para que ocupe toda la página */
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff; /* Color de texto blanco */
  }
  
  /* Estilos para el título */
  h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 36px;
    color: #030303;
  }
  
  /* Estilos para la calculadora */
  #bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Coloca el video detrás de todo el contenido */
    object-fit: cover; /* Ajusta el tamaño del video para cubrir toda la pantalla */
  }
  
  /* Estilos para el título y la calculadora */
  .container {
    position: relative; /* Establece un contexto de apilamiento para que el contenido esté encima del video */
    z-index: 1; /* Coloca el contenido encima del video */
    margin-top: 20px;
  }
  .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.8); /* Color de fondo semitransparente */
  }
  
  .card-body {
    padding: 20px;
  }
  
  #screen {
    margin-bottom: 10px;
    text-align: right;
    font-size: 24px;
  }
  
  .btn {
    font-size: 20px;
  }
  
  /* Estilos para los botones de operación */
  .btn-primary,
  .btn-light {
    font-size: 24px;
    height: 60px;
  }
  
  .btn-primary {
    background-color: #000000; /* Color coral */
    border-color: #ff6347;
  }
  
  .btn-primary:hover {
    background-color: #ff4500; /* Color naranja oscuro */
    border-color: #ff4500;
  }
  
  .btn-light {
    background-color: #000000; /* Color melocotón */
    border-color: #ff7700;
    color: #ffffff;
  }
  
  .btn-light:hover {
    background-color: #2acfd4; /* Color rosa claro */
    border-color: #ffb6c1;
  }
  
  /* Estilos adicionales para el contenedor de botones */
  .row {
    margin-bottom: 10px;
  }
  